{
	"data": "ENC[AES256_GCM,data:k6UzoQkJNQ7sMSuc3wTcO78eJY6GgleH6AyxbTOLmsFnGsn7rjb1WSrcf9t0tIwZziUg5YXz63Ed2knEnwh9PeMjMekGo29e495EzNNCOqzjKYOy3LakCAVU092xviQoX+cbldmkwnrRMzK+MVSnj7+UGj2ifYzFWEC4PPYGELUXzd3PQnvNFH//qZvT6+CFJvMHc8ot4CcZpDcmvKiBIs3siCt9s3mC0q+G6m6qwOT1M5W1vKI3VTJqoCFLCZShmJBCPp+4/chor0GQRVfD4CDRYmydJ7WmUqqpgUK2caqYzbDL60LOp4fndXhMfdMHH+knrGk45FMuN/rcHjLCydNh,iv:JgY5nap+/CavaCM+pOvFIttygZrb2S8Qw4cM1mcKSJg=,tag:6TkU840gpa5QqWrK8ZTgPw==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1hhnjylnwfh0w6sxzlvc905ma8wa5pkspv9k2kj8a0d993m8h734se3jh7u",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBlTkRmclhWc3VIL0NKOEhP\nem9zcU0rK1VCSXpITENsQnpUNWR2S1N1a2lrClZ2enp3allLWVpqNTcyQ1NnVlFO\nNXlGdkplcGl6ZFA5MFdIMmZYL2U5dlkKLS0tIFJVNkMzc2UrQ3R1Q2lMWXl5ZFpl\nL1orQXVDOGVzU3l1THRuYlo3dG9tT3cKuoj8gYAe5rqNKOzXf76NugiINllgh9pr\njHwwv8mVK+QDpWTS66yE29spSM8rdKTihl3WHpzBJd9BX5HvPbDQEg==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-05-12T20:39:44Z",
		"mac": "ENC[AES256_GCM,data:izpJm6ZlP6rcUH86TsYxnCCQh8ncTzx6nORZDPxsDCmgdmxOMVmQeZolQixe6VBf8rIsLGKczQXfwU9oMnHlI9ssksawtPm2sgPqepo+8rKqxdh4oHk0+D8vygIB6yQLqoMxw6zaLGYwSolNJ8MAJ0IhhUIniPLa/cUrf9cmECg=,iv:WSKYGUVD90XQzZ9dU0kJFpbe5Omg0tDsM0uoOMsZe34=,tag:ACSFAE8Ishi/vh8Z23N53g==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.1"
	}
}
